* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  height: 96px;
}
.main-nav {
}
.main-nav-list {
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  border-radius: 30px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 32px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 30px;
  color: #fff;
}
.logo {
  height: 27px;
}
.heading-primary {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
.background-image {
  background-image: url("/images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
}
/*******************************/
/*HER0 SECTION*/
/*******************************/
.section-hero {
  font-family: "Open Sans", sans-serif;
  padding: 48px 0 96px 0;
}
.hero {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 45fr 55fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  gap: 95px;
}
.hero-img {
  width: 100%;
}
.hero-description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}
/*******************************/
/*HOW TO SECTION*/
/*******************************/
.section-how-to {
  padding: 9.6rem 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.grid {
  display: grid;
  column-gap: 97px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 20px 30px 20px;
  margin-bottom: 65px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  place-items: center;
}

.heading-tertiary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.how-description {
  font-size: 18px;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  color: hsl(208, 11%, 55%);
}

.how-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-img {
  width: 80%;
}
/*******************************/
/*CTA SECTION*/
/*******************************/
.section-CTA {
  padding: 50px 0 0 0;
  position: absolute;
  top: 100%;
  right: 25%;
  transform: translate(-50%, -50%);
}

.CTA-container {
  background-color: red;
  width: 400px;
  height: 200px;
}

.cta-text {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
/*******************************/
/*FOOTER SECTION*/
/*******************************/
main {
  position: relative;
}
.section-footer {
}
.container-footer {
  background-color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 200px 30px 90px 10px;
}
.nav-col {
}
.footer-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 0.7fr 0.7fr 1.5fr;
  place-items: center;
}
.logofooter-img {
  padding-bottom: 20px;
}
.address-body {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 10px;
}
.social-icon {
  height: 24px;
  width: 24px;
  fill: #fff;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}
.social-section {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
