@media (max-width: 1080px) {
  /*******************************/
  /*HER0 SECTION*/
  /*******************************/
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    column-gap: 20px;
  }
  .hero-description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .heading-primary {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }
  .header {
    padding: 0 30px;
  }

  /*******************************/
  /*CTA SECTION*/
  /*******************************/
  .section-CTA {
    position: absolute;
    top: 102%;
    right: -25%;
    transform: translate(-50%, -50%);
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .hero {
    /* max-width: 700px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    padding: 0 60px;
    margin: 0 auto;
    gap: 50px;
  }
  .heading-primary {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }
  .hero-description {
    font-size: 27px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .header {
    padding: 0 50px;
  }
  .flexbody {
    flex-direction: column;
    gap: 65px;
    padding: 60px;
    text-align: center;
  }
  .imgup {
    order: 0;
  }
  .divdown {
    order: 1;
  }
  .heading-tertiary {
    font-size: 40px;
  }
  .how-description {
    font-size: 22px;
  }
  .section-CTA {
    position: absolute;
    top: 102%;
    right: -22%;
    transform: translate(-50%, -50%);
  }
  .CTA-container {
    background-color: #fff;
    width: 100%;
    height: 280px;
  }
  .btn-cta,
  .btn-cta:link,
  .btn-cta:visited {
    width: 70%;
  }
  /*cta*/
  .section-CTA {
    position: absolute;
    top: 102%;
    right: -20%;
    transform: translate(-50%, -50%);
  }
  /*footer*/

  .container-footer {
    font-size: 30px;
    line-height: 1.8;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 0.7fr 0.6fr;
    place-items: start;
  }
  .social-section {
    gap: 50px;
  }
  .social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-grid .social-section {
    place-self: center;
  }
}

@media (max-width: 460px) {
  html {
    overflow-x: hidden;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    padding: 0 10px;
    margin: 0;
    gap: 50px;
  }
  .hero-description {
    font-size: 18px;
    line-height: 1.5;
  }
  .header {
    padding: 0 10px;
  }
  .heading-primary {
    font-size: 33px;
    font-weight: 600;
    line-height: 1.4;
  }
  .flexbody {
    box-shadow: 5px 4px 20px -9px rgba(0, 0, 0, 0.2);

    justify-content: center;
    padding: 20px;
  }
  .heading-tertiary {
    font-size: 22px;
  }
  .how-description {
    font-size: 19px;
  }
  .CTA-container {
    background-color: #fff;
    width: 100%;
    height: 200px;
    padding: 40px 10px 10px 10px;
  }
  .section-CTA {
    position: absolute;
    top: 102%;
    right: 0;
    transform: translate(-10%, -50%);
  }
  .cta-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .btn-cta,
  .btn-cta:link,
  .btn-cta:visited {
    width: 90%;
    padding: 20px 20px;
    font-size: 13px;
  }
  .container-footer {
    font-size: 16px;
  }
}
